body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    background: darkgray;
}
.clock{
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    &:before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;
        z-index: 10;
    }
}

.canvas_clock{
    display: flex;
    width: 550px;
    height: 550px;

    justify-content: center;
    align-items: center;

    z-index: 1;
}
.clock__hand{
    position: absolute;
    display: flex;

    z-index: 2;
}

.clock__hand--hour{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);


    &:before{
        display: block;
        position: absolute;
        transform: translate(-50%,-80%);
        content: "";
        width: 15px;
        height: 125px;
        background: black;
    }
}

.clock__hand--second{


    &:before{
        display: block;
        position: absolute;
        transform: translate(-50%,-100%);
        content: "";
        width: 3px;
        height: 160px;
        background: red;

    }

    z-index: 11;
}
.clock__hand--minute{


    &&:before{
        display: block;
        position: absolute;
        transform: translate(-50%,-80%);
        content: "";
        width: 5px;
        height: 180px;
        background: black;
    }
    z-index: 0;
}




